* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: Verdana, Geneva, sans-serif;
}

header {
  background-color: black;
  height: 11rem;
  padding-left: 1rem;
}

div.bookcat {
  text-align: right;
  color: red;
}

.email a:visited {
   color: red;
 }

 .bookcat a:visited {
    color: red;
  }

nav.navigation {
  background-color: grey;
  justify-content: space-around;

}

ul {
  list-style-type: none;

}

nav ul li a {
  text-decoration: underline;


}
h1 {
  color: white;
  margin-top: 3rem;
}

h3.subhead {
  color: grey;
}

/*div.centercontent is articles and the aside */
 div.centercontent {
 display: flex;
 flex-wrap: nowrap;
 direction: ltr;
 align-items: stretch;
 justify-content: space-around;
 }

section.newscontent {
  display: flex;
  flex-direction: column;
  width: 35rem;
  padding-left: 0.5rem;
 }

article > h2 {
  font-size: 2rem;
}
article > p {
  font-size: 1.5rem;
}

aside.catspotlight {
  display: flex;
  border: 0.1rem solid black;
  flex-direction: column;
  justify-content: space-around;
}

div > h2 {

}
img.catintube {
  width: 3rem;
}

footer {
   background-color: black;
 }

footer div ul{
   align-items: left;
   color: white;
 }

 /*Doesn't work*/
div.email {
  color: red
}


 div.copywrite > p {
   color: white;
   text-align: center;
 }
