* {
  box-sizing: border-box;
  font-weight: normal;
}

html {
  font-size: 20px;
  font-family: Verdana, Geneva, sans-serif;
}

header {
  background-color: black;
  height: 11rem;
  padding-left: 1rem;
}

div.bookcat {
  text-align: right;
  color: red;
  font-size: 1rem;
  padding-top: 1rem;
}

.bookcat a:visited {
    color: red;
  }

nav.navigation {
  display: flex;
  background-color: grey;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

nav ul {
  list-style-type: none;
  flex: 1 1 100%;
}

li {
  display: inline-block;

}

nav ul li a {
  text-decoration: underline;

}

header h1 {
  color: white;
  margin-top: 2.8rem;
  margin-bottom: 0rem;
}

header h3.subhead {
  color: grey;
  font-weight: normal;
  margin-bottom: 5rem;
  margin-top: 0.8rem;
}

/*div.centercontent is articles and the aside */
 div.centercontent {
 display: flex;
 flex-wrap: nowrap;
 direction: ltr;
 align-items: stretch;
 justify-content: space-around;
 }

section.newscontent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 35rem;
  padding-left: 0.5rem;
  border: 1px solid black;
 }

article > h2 {
  font-size: 1.5rem;
}
article > p {
  font-size: 1.1rem;
  line-height: 1.7rem;
}

p.italic {
  font-style: italic;
}

aside.catspotlight {
  display: flex;
  border: 0.1rem solid black;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

aside > div {

}

div > h2 {
  font-size: 1.2rem;

}

img.catintube {
  width: 3rem;
}

footer {
  background-color: black;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 10rem;
  margin-top: 1rem;
}

footer div ul li {
   align-items: left;
   color: white;

 }

div.email {
  color: red
}

.email a:visited {
   color: red;
 }


div.copywrite > p {
 color: white;
 text-align: center;
 font-size: 1.5rem;
}

/* Code for Book a Cat page */

div.cattypes {
  display: flex;
  justify-content: space-around;
}

.cattypes article {
  width: 25%;
}

img.catsymbol {

}
